<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" type="Sitecore.WebsitePrototype.Pipelines.HttpRequest.LayoutResolver, Sitecore.WebsitePrototype" />
      </httpRequestBegin>
      
      <renderLayout>
        <processor patch:after="*[@type='Sitecore.Pipelines.RenderLayout.InsertRenderings, Sitecore.Kernel']" type="Sitecore.WebsitePrototype.Pipelines.RenderLayout.InsertRenderings, Sitecore.WebsitePrototype"/>
      </renderLayout>
      
      <mvc.buildPageDefinition>
        <processor patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']" type="Sitecore.WebsitePrototype.Pipelines.MVC.BuildPageDefinition.InsertRenderings, Sitecore.WebsitePrototype"/>
      </mvc.buildPageDefinition>

      <websiteprototype.moderesolver>
        <processor type="Sitecore.WebsitePrototype.Pipelines.ModeResolver.GetSettings, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ModeResolver.EnableForAllWebsites, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ModeResolver.EnableForWebsites, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ModeResolver.EnableForPaths, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ModeResolver.EnableForPages, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ModeResolver.QuerystringModeResolver, Sitecore.WebsitePrototype" />
      </websiteprototype.moderesolver>

      <websiteprototype.itemresolver>
        <processor type="Sitecore.WebsitePrototype.Pipelines.ItemResolver.GetSettings, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ItemResolver.VerifyExcludePath, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ItemResolver.VerifyExcludeId, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ItemResolver.ResolveByPath, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ItemResolver.ResolveById, Sitecore.WebsitePrototype" />
        <processor type="Sitecore.WebsitePrototype.Pipelines.ItemResolver.ResolveHtmlFile, Sitecore.WebsitePrototype" />
      </websiteprototype.itemresolver>
      
    </pipelines>
  </sitecore>
</configuration>